/*=======================================================================
*** OYSTER_SUB STYLE UPDATES***
========================================================================*/

body{
  background: #fff;
  padding-top: 0 !important;
}
h2{
  font-weight: 700;
}
h3{
  font-size: 18px;
  
}
.text-center{
  text-align: center;
}
.sticky_menu .main_header{
  position: relative;
}
.main_header{
  border-bottom: none;
}
.main_header--sticky{
  position: sticky;
  top:0;
  border-bottom: #ececec 1px solid;
}
.margin-0{
  margin: 0 !important;
}

.logo_sect-wrapp{
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}
.logo_sect{
  padding: 30px 0 0 0;
  margin-bottom: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo_sect .slogan{
  border: none;
  padding: 10px 0 0 0;
}
.logo_def {
  max-width: 300px;
}

/*
** HEADER
*/
.header-menus-wrapp{
  position: relative;
  z-index: 2;
  margin-bottom: 7px;
}
.menu_toggler{
  z-index: 100;
}
.header_top_nav{

  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
@media(min-width:991px){
  margin-top: -35px;
}
@media(max-width:768px){
  .logo img{
    max-height: 160px;
  }
}

.header_rp{
  width: 100%;
}

@media(max-width:768px){
  .header_top_nav,
  .main_header.desktop{
    display: none;
  }
}
@media(min-width:769px){

  .main_header.movile{
    display: none;
  }
}

.header_search{
  right: 130px;
  top: -2px;
}
.header_search form{
  margin-top: 0;

}
.search_on .header_search{
  opacity: 1;
  z-index:100;
}

.header_top_nav .search_toggler{
  position: relative;
  margin: 0;
  top: 1px;
  right: 0;
  margin: 0 10px;
  height: 22px;
  background: none;
}
#block-system-user-menu a[href="/user"],
#block-system-user-menu a[href^="/user/login"]{
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 15px;
  height: 18px;
  top: 2px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#block-system-user-menu a[href="/user"]:before,
#block-system-user-menu a[href^="/user/login"]:before{
  content: "\f007";
  font-size: 18px;

  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#block-system-user-menu ul.menu{
  list-style: none;
  display: flex;
}
#block-system-user-menu ul.menu li{
  list-style: none;
}
.region-header-menu{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main_header nav ul.menu{
  margin-right: 0;
}
.main_header nav ul.menu>li{
  margin: 0 10px;
}


.pane-block-48 .media img{
  width: 100%;
}

#content{
  padding: 0 40px;
}

.block-views .view-header{
  display: flex;
  justify-content: flex-end;

}
.views-field-field-show-on-frontpage label{
  display: none;
}

#panels-ipe-display-panel-context-page-front-page-front-panel h2.pane-title{
  text-align: center;
}

#panels-ipe-display-panel-context-page-front-page-front-panel .pane-content img{
  width: 100%;
}
@media(min-width:991px){
  #panels-ipe-display-panel-context-page-front-page-front-panel .pane-content img{
    max-width: 1000%;
    width: 100%;
  }  
}


.mobile_menu{
  list-style: none;
}
.mobile_menu ul{
  list-style: none;
}
.mobile_menu .menu-item-has-children > a{ 
}
.front .view-content, .page-user .pane-content{
  box-sizing: border-box; 
}
/*
** Daily Read Teaser
*/
.daily-teaser{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}
.daily-teaser--content--title{
  margin-bottom: 0;
}
.daily-teaser--content--author{
  padding-bottom: 20px;
  display: inline-block;
}
.daily-teaser--image{
  width: 100%;
}
.daily-teaser--content{
  width: 100%;
}

@media(min-width: 768px){
  .daily-teaser--image{
    width: 25%;
  }
  .daily-teaser--content{
    width: 75%;
    box-sizing: border-box;
  }
}

@media(min-width: 560px){
  .daily-teaser--content{
    padding-left: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }
}

.daily-teaser--content--body br{
  display: none;
}

.daily-teaser--content--body--link{
  margin-top: 20px !important;
  display: inline-block;
}

#content-11 .span3 {
  width: calc(20% - 25px);
  display: inline-block;
  float: left;
}
#content-11 .span6 {
  width: 60%;
  display: inline-block;
  float: left;
}
.panel-pane .view-header{
  display: flex;
  width:100%;
  justify-content: flex-end;
  position: absolute;
  top: -20px;
  z-index: 10;
  right: 0;
}

/*
** view-news-and-events
*/
#panels-ipe-display-panel-context-page-front-page-front-panel .panel-row{
  padding:0 0 75px 0;
}
#panels-ipe-display-panel-context-page-front-page-front-panel .pane-title{
  text-align: center;
  font-size: 18px;
}
.view-news-and-events{

}
#content-11 .node--block h3.text-center{
  display: none;
}

.content-bot .pane-title{
  display: none;
}


.view-news-and-events .view-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.view-news-and-events .views-row{
  width: calc(25% - 12px);
  padding-bottom: 25px;
}
@media (max-width: 768px) {
  .view-news-and-events .views-row{
    width: calc(50% - 15px);
  }
}
@media (max-width: 480px) {
  .view-news-and-events .views-row{
    width: 100%;
  }
}
.view-news-and-events .views-field-field-image-1{

}
.view-news-and-events .views-field-title{

}

/*
** view-weekly-challenges
*/
.view-journalism-challenges .view-content,
.view-weekly-challenges .view-content{
  padding: 0;
  border:none;
}

/*
** view-publications
*/
#content-11 .pub-col6 {
  width: 60%;
  display: inline-block;
  float: left;
}

#content-11 .pub-col3 {
  width: calc(20% - 20px);
  display: inline-block;
  float: left;
}
.view{
  position: relative;
}
.view-publications{

}
.publications--row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.publications--row:before,
.publications--row:after{
  display: none;
}
.view-publications .view-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  border: 0;
}
.view-publications .views-row{
  width: calc(33.333% - 20px);
}
.view-publications{

}

.pane-nodeblock-38759 h3.text-center,
.pane-nodeblock-38758 h3.text-center{
  display: none;
}



#content-logos{
  padding-bottom: 0 !important;
}

#content-logos .owl-nav{
    position: absolute;
  top: 33%;
  width: 100%;
}
.gallery-wrap .owl-nav{
  position: absolute;
  top: 41%;
  width: 100%;
}
#page-content  .owl-next,
#page-content  .owl-prev{
  position: absolute;
  z-index: 10;
  font-size: 60px;
  outline: none !important;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#content-logos .owl-prev,
.gallery-wrap .owl-prev{
  left: -30px;
}
#content-logos .owl-next,
.gallery-wrap .owl-next{
  right: -31px
}
#page-content .owl-next:hover,
#page-content .owl-prev:hover{
  background: none !important;
  color: #000;
}
.view-thanks-for-all-your-support- .view-content{
  padding: 20px 40px;
  min-height: 85px;
}

#page-content .owl-stage{
  min-width: 100%;
}
/*
** Footer
*/
#footer-top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#footer-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
