/*=======================================================================
*** OYSTER_SUB STYLE UPDATES***
========================================================================*/

body{
  background: #fff;
  padding-top: 0 !important;
}
h2{
  font-weight: 700;
}
h3{
  font-size: 18px;

}

h1, h2, h3, h4, h5, h6, h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #545454;
}


.btn,
.shortcode_button, a.shortcode_button{
  display: inline-block;
  border-radius: 3px;
  margin: 0 2px 4px 2px;
  margin-top: 0px;
  border: none !important;
  font-size: 13px;
  min-height: 22px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-weight: 500 !important;
}

.text-center{
  text-align: center;
}
.sticky_menu .main_header{
  position: relative;
}
.main_header{
  border-bottom: none;
}
.main_header--sticky{
  position: sticky;
  top:0;
  border-bottom: none;
}
.margin-0{
  margin: 0 !important;
}

.logo_sect-wrapp{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  min-width: calc(100% - 200px);
}

.logo_sect{
  padding: 0;
  margin-bottom: 0;
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.logo_sect .slogan{
  border: none;
  padding: 10px 0 0 0;
}
.logo_def {
  max-width: 325px;
}

/*
** HEADER
*/

.header_top_nav a {
  color: #343434;
}

#name-and-slogan {
  display: inline-block;
  margin-left: 60px;
  margin-top: -24px;
}

.header_wrapper{
  padding-top: 30px;
  display: flex;
  align-items: center;
}
.header-menus-wrapp{
  position: relative;
  z-index: 2;
  margin-bottom: 7px;
}
.menu_toggler{
  z-index: 100;
}
.header_top_nav{

  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
@media(min-width:991px){
  margin-top: -35px;
}
@media(max-width:768px){
  .logo img{
    max-height: 160px;
  }
}

.header_rp{
  width: 100%;
}

@media(max-width:768px){
  .header_top_nav,
  .main_header.desktop{
    display: none;
  }
}
@media(min-width:769px){

  .main_header.movile{
    display: none;
  }
}

.header_search{
  right: 150px;
  top: -2px;
}
.header_search form{
  margin-top: 0;

}
.search_on .header_search{
  opacity: 1;
  z-index:100;
}

.header_top_nav .search_toggler{
  position: relative;
  margin: 0;
  top: 1px;
  right: 0;
  margin: 0 10px;
  height: 22px;
  background: none;
}
#block-system-user-menu a[href="/user"],
#block-system-user-menu a[href^="/user/login"]{
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 15px;
  height: 18px;
  top: 2px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#block-system-user-menu a[href="/user"]:before,
#block-system-user-menu a[href^="/user/login"]:before{
  content: "\f007";
  font-size: 18px;

  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#block-system-user-menu ul.menu{
  list-style: none;
  display: flex;
}
#block-system-user-menu ul.menu li{
  list-style: none;
}
.region-header-menu{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main_header nav ul.menu{
  margin-right: 0;
}
.main_header nav ul.menu>li{
  margin: 0 10px;
}


.pane-block-48 .media img{
  width: 100%;
}

#content{
  padding: 0 40px;
}

.block-views .view-header{
  display: flex;
  justify-content: flex-end;

}
.views-field-field-show-on-frontpage label{
  display: none;
}
.panel-row{
  padding-bottom: 40px;
}
h2.pane-title{
  text-align: left;
  border-bottom: 2px solid #545454;
  padding-bottom: 10px;
  font-size: 34px;
  line-height: 1.3em;
  font-weight: 500;
}
h2.pane-title a{
  font-size: 30px;
}
@media(max-width:768px){
  h2.pane-title,
  h2.pane-title a{
    font-size: 22px;
  }

  h2.field-content{
    font-size: 18px;
  }
  #node--block--2 h3{
    padding: 0 !important;
    font-size: 16px;
  }
}
#panels-ipe-display-panel-context-page-front-page-front-panel .pane-content img{
  width: 100%;
}
@media(min-width:991px){
  #panels-ipe-display-panel-context-page-front-page-front-panel .pane-content img{
    max-width: 1000%;
    width: 100%;
  }  
}


.mobile_menu{
  list-style: none;
}
.mobile_menu ul{
  list-style: none;
}
.mobile_menu .menu-item-has-children > a{ 
}
.front .view-content, .page-user .pane-content{
  box-sizing: border-box; 
  border: none;
  padding: 0;
}

@media(max-width:768px){
  .logo_sect-wrapp{
    margin-left: 30px;
  }
}

/*
** Top Content Block
*/
#content-top .pane-title{
  display: none;
}
#node--block--2{
}
#node--block--2 h3{
  line-height: 1.5em;
}
@media(max-width: 768px){
  #node--block--2{
    flex-wrap: wrap;
  }

  #node--block--2 .span6{
    width: 100%;
    order: 2
  }
  #node--block--2 .span6:last-of-type{
    order:1;
  }
}
#node--block--2 .btn{
  padding: 10px 40px;
  border: none;
  font-size: 20px;
  font-weight: 400;
}
.block-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#content-top a{
  color: #fff;
}
.block-row--content{
  padding-top: 20px;
  padding-right: 40px;
}
#content-top h1{
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
  padding-bottom: 10px;
  font-size: 55px;
}

#content-top h3{
  padding-top: 30px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 20px;
}






/*
** Daily Read Teaser
*/
.daily-teaser{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding:0 ;
  border:none;
}
.daily-teaser--content--title{
  padding-top: 20px;
  margin-bottom: 5px;
}
.daily-teaser--content--author{
  padding-bottom: 20px;
  display: inline-block;
}
.daily-teaser--image{
  width: 100%;
}
.daily-teaser--content{
  width: 100%;
}

@media(min-width: 768px){
  .daily-teaser--image{
    width: 40%;
  }
  .daily-teaser--content{
    width: 60%;
    padding-left: 40px;
    box-sizing: border-box;
  }
}

@media(max-width: 768px){
  .daily-teaser--content{
    padding-bottom: 40px;
  }
  .view-news-and-events.view-display-id-block_2 .views-row{
    width: 100%;
  }

}

.daily-teaser--content--body br{
}

.daily-teaser--content--body--link{
  margin-top: 5px !important;
  display: inline-block;
}

#content-11 .span3 {
  width: calc(20% - 25px);
  display: inline-block;
  float: left;
}
#content-11 .span6 {
  width: 60%;
  display: inline-block;
  float: left;
}
.panel-pane .view-header{
  display: flex;
  width:100%;
  justify-content: flex-end;
  position: absolute;
  top: -20px;
  z-index: 10;
  right: 0;
}

/*
** view-news-and-events
*/
#content-bot .pane-title, 
#content-main .pane-title{
  /*display: none;*/
}
#content-bot  .pane-title--main{
  width: 100%;
  display: inline-block;
}
#page-content .panel-row{
  padding:0 0 75px 0;
}
#page-content h3.pane-title,
#page-content h3.pane-title a{
  text-align: center;
  font-size: 18px;
}

#page-content .pane-title a

.view-news-and-events{

}
#content-11 .node--block h3.text-center{
  display: none;
}

.content-bot .pane-title{
  display: none;
}


.view-news-and-events .view-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.view-news-and-events.view-display-id-block_1 .views-row{
  width: calc(25% - 12px);
  padding-bottom: 25px;
}
@media (max-width: 768px) {
  .publications--row{
    flex-wrap: wrap;
  }
  #content-11 .pub-col6{
    width: 100% !important;
  }
  #content-11 .pub-col5,
  #content-11 .pub-col3,
  #content-11 .views-row{
    width: 100% !important;
    padding-bottom: 40px;
  }
  .view-news-and-events.view-display-id-block_1 .views-row {
    width: 100%;
    padding-bottom: 40px;
  }
  #content-main .span3,
  #content-bot .span4{
    padding-bottom: 40px;
  }
  .view-news-and-events .views-row{
    width: calc(50% - 15px);
  }
}
@media (max-width: 480px) {
  .view-news-and-events .views-row{
    width: 100%;
  }
}
.view-news-and-events .views-field-field-image-1{

}
.view-news-and-events .views-field-title{

}

/*
** view-weekly-challenges
*/
.view-journalism-challenges .view-content,
.view-weekly-challenges .view-content{
  padding: 0;
  border:none;
}

/*
** view-publications
*/
#content-11 .pub-col6 {
  width: 60%;
  display: inline-block;
  float: left;
}

#content-11 .pub-col5 {
  width: calc(20% - 20px);
  display: inline-block;
  float: left;
}
.view{
  position: relative;
}
.view-publications{

}
.publications--row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.publications--row:before,
.publications--row:after{
  display: none;
}
.view-publications .view-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  border: 0;
}
.view-publications .views-row{
  width: calc(33.333% - 20px);
}
.view-publications{

}

.pane-nodeblock-38759 h3.text-center,
.pane-nodeblock-38758 h3.text-center{
  display: none;
}

#panels-ipe-regionid-bot_col_1 .panel-separator{
  display: none;
}

#content-logos{
  padding-bottom: 0 !important;
}

#content-logos .owl-nav{
  position: absolute;
  top: 33%;
  width: 100%;
}
.gallery-wrap .owl-nav{
  position: absolute;
  top: 41%;
  width: 100%;
}
#page-content  .owl-next,
#page-content  .owl-prev{
  position: absolute;
  z-index: 10;
  font-size: 60px;
  outline: none !important;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#content-logos .owl-prev,
.gallery-wrap .owl-prev{
  left: -30px;
}
#content-logos .owl-next,
.gallery-wrap .owl-next{
  right: -31px
}
#page-content .owl-next:hover,
#page-content .owl-prev:hover{
  background: none !important;
  color: #000;
}
.view-thanks-for-all-your-support- .view-content{
  padding: 20px 40px;
  min-height: 85px;
  border:none;
  padding: 0;
}

#page-content .owl-stage{
  min-width: 100%;
}

/*
** Gallery
*/
.pane-image-field-checkbox-gallery-images{
  padding-bottom: 75px;
}



/*
** Footer
*/
#footer-top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
#footer-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


footer {
  background: #fff;
  border-top: #e6e6e6 1px solid;
}
@media(max-width:992px){
  .footer_wrapper{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}


/*

*/
.block_likes--tags{
  padding-right: 20px;
}


.view-recent-comments .views-row{
  margin-bottom: 25px;
  border-bottom: 1px solid #acacac;

}

.main_header nav ul.menu .sub-menu{
  width: 300px;
}


.publications--row h3{
  display:none;
}



/*

*/

#content-top .panel-pane{
  background: #383838;
  padding: 40px;
  color: #fff;
  margin-bottom: 40px;
}


#content-top .panel-pane img{
  width: 100%;
}
#content-top .panel-pane h1,
#content-top .panel-pane h2, 
#content-top .panel-pane h3{
  color: #fff;
}
#content-top .panel-pane a.btn{
  background: #656565;
}

#content-top .panel-pane a.btn:hover{
  background: #40b7b8;
}
.menu-main-menu-container{
  border-bottom: 2px solid #e6e6e6;
}

.main_wrapper{
  padding-top: 20px; 
}
footer{
  border:none;
}
.footer_wrapper{
  background: #383838;
  color: #fff;
}
.footer_wrapper .content,
.footer_wrapper p,
.footer_wrapper a{
  color: #fff;
}
/*#content-bot .view-content{
  position: relative;
  z-index: 10;
}
#content-bot .view-content:after{
  content: '';
  position: absolute;  
  z-index: 1;
  width: 100%;
  height: 315px;
  background: #383838;
}

#content-bot .view-content >div{
  position: relative;
  z-index: 10;
}
#content-bot .view-content .span4 .panels-ipe-region{
  padding: 30px;
}
#content-bot .view-content .span4 .panels-ipe-region img{
  margin-bottom: 45px;
}*/
.panel-region-after_content{
  width: 100%;
  clear: both;
}

#content-top-2 .span9 h2.pane-title{
  display: none;
}

#content-top-2 .span9 {
  border-right: 1px solid #000;
}

#content-top-2 h2.pane-title{
  border-bottom: none;
  margin-bottom: 00px;
}

#content-top-2 .titles {
	border-bottom: 2px solid #545454;
}

#content-top-2 h2.pane-title.new-at-ywp {
	padding-left: 20px;
}

#content-top-2 .content-area {
	padding-top: 20px;
}

@media(min-width:992px){
  #nyt{
    padding-left: 25px;
    border-left: 1px solid #000;
  }
}
.main_header nav ul.menu > li > a {
  font-size: 14px;   
}

h3.center {
  text-align: center;
  font-size: 16px;
}

.block-row--body {
  margin-top: 10px;
}

#daily-read-image h3{
  display: none;
}
#nyt h3{
  display: none;
}

.view-daily-read-editable .views-field-name{
  padding-bottom: 15px;
}

.view-daily-read-editable .views-field-body{
  padding-bottom: 15px;
}

@media(min-width: 992px){
  .view-daily-read-editable .views-row{
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px;
  }
}
.view-daily-read-editable h2{
  padding-bottom: 20px;
}

.view-daily-read-editable .views-field-view-node{
  text-align: right;
  padding-right: 50px;
}
.view-daily-read-editable{
  position: relative;
}
.view-daily-read-editable .views-field-nothing{
  position: absolute;
  text-align: right;
  top:0;
  right: calc(50% + 49px);
  z-index: 10;
}

.view-daily-read-editable .views-field-nothing img{
  width: 32px !important;
  max-width: 32px !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}