# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
/Backup/
/sites/default/
/youngwritersproject.tyler.home/
/login.txt