/**
 * Blog comments.
 */

.comment-node-blog {
  &.view-mode-magazine {
    margin-bottom: $spacer;

    .user-picture {
      img {
        max-width: 48px;
        height: auto;
        @include border-radius(50%);
      }
    }

    .submitted {
      font-size: $font-size-sm;
      color: $gray-600;

      .username {
        font-weight: 500;
      }
    }

    .field-name-comment-body {
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
