/**
 * Paragraph of type Media Quote.
 */

.paragraphs-item-magazine-page-media-quote {

  &.view-mode-full {
    padding: $spacer;
    font-size: $h5-font-size;
    color: $gray-700;

    .icon-quote {
      float: left;
      margin-top: .5rem;
      font-size: 2rem;
      opacity: 0.5;
    }

    .content {
      margin-left: 3rem;
    }

    @include media-breakpoint-up(md) {
      font-size: $h3-font-size;

      .icon-quote {
        font-size: 4rem;
      }

      .content {
        margin-left: 6rem;
      }
    }

  } // Full view mode.

}
