
.image-widget{
  display: flex;
}
.gallery-wrap{
  position: relative;
}
.image-widget .image-widget-data{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.image-widget .image-widget-data .form-type-checkbox{
  margin-right: 0;
  margin-left: auto;
}


#edit-field-image-und-table .form-submit{
  margin: 0;
}

#gallery-table th{
  background: none repeat scroll 0 0 #E1E2DC;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
}